@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 50px;
    background: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}
.container{
    background: #fff;
    box-shadow: 0px 0px 10px rgab(0,0,0,0.1);
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 50px;
}

.container .text{
    font-size: 35px;
    font-weight: 600;
    margin: 50px 0px;
    text-align: center;
    background: -webkit-linear-gradient(right, #65d8e4 , #9f01ea, #56d8e4, #9f01ea);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.container form .form-row{
    display: flex;
    margin: 32px 0;
   
}


form .form-row .input-data{
    width: 100%;
    height: 80px;
    margin: 10px 10px;
}

form .form-row .input-age{
    width: 30%;
    height: 80px;
    margin: 10px 10px;
}


 .main-title{
    font-size: 20px;
    font-weight: 500;  
    margin: 10px;
}
.gender-details .category{
   display: flex;
   width: 50%;
   margin: 14px 0;
   justify-content: space-between;
}
.gender-details .category label{
    display: flex;
    align-items: center;
}

.gender-details .category .dot{
    height: 18px;
    width: 18px;
    background: #aa9898;
    border-radius: 50%;
    margin-right: 10px ;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}


#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two,
#dot-3:checked ~ .category label .three{
    border-color: #d9d9d9;
    background: #32183b;
}

form input[type="radio"]{
    display: none;
}

input[type=text], select {

    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
   
  }

  label{
    opacity: 70%;
  }
 

  input[type=submit] {
    width: 100%;
    background: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    opacity: 90%;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    }
    input[type=submit]:hover {
        opacity: 100%;
      }

   